#star .banner {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll
}

#star .banner-top {
  position: relative;
  padding: 19px 13px;
  text-align: center;
}

#star .banner-top img {
  width: 85px;
  height: 32px;
}

#star .banner-top a img {
  width: 48px;
  height: 53px;
  position: absolute;
  right: 10px;
  top: 3px;
}

#star .banner-bottom {
  padding: 0 13px;
}

#star .banner-bottom .bottom-list {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

#star .banner-bottom .bottom-list .item {
  height: 46vw;
  width: 49%;
  margin-bottom: 1.7vw;
  position: relative;
}

#star .banner-bottom .bottom-list .item:nth-of-type(2n+1) {
  margin-right: 2%;
}

#star .banner-bottom .bottom-list .item:nth-of-type(2n) {
  margin-right: 0;
}

#star .banner-bottom .bottom-list .item img {
  width: 100%;
  height: 100%;
}

#star .banner-bottom .bottom-list .item p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33px;
  background-color: #121212;
  opacity: 0.6;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
}

#star .banner-bottom .bottom-list .item p span {
  line-height: 33px;
  height: 33px;
  color: white;
}
